.hero-section{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    padding-left:70px ;
    margin-top: 60px;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 750;
    line-height: 80px;
    margin-top: 40px;
}
.content{
    color:var(--Gray);
    font-size: 17px;
    width: 60%;
}

.cta2{
    cursor: pointer;
    position: relative;
    top: 50px;
    background-color:var(--Cyan);
    color:var(--white);
    font-weight: 700;
    border: none;
    border-radius: 25px;
    padding: 15px 45px;
}
.illustration img{
    margin-right: -100px;
    width: 650px;
}

/* link input */

.input-section {
    width: 70%;
    border-radius: 20px;
    background-color:var(--DarkViolet);
    display: flex;
    justify-content: center;
    
    padding: 50px 20px;
    margin-top: -250px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input[type=text]{
    padding: 10px 400px 10px 5px;
    outline: none;
}
.submit{
    color:var(--white);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background-color:var(--Cyan);
}
.sec1{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Gray);
}
.statitics{
    position: relative;
    top: 50px;
    text-align: center;
    width: 400px;
}
.statitics > p{
  color:var(--VeryDarkBlue)
}
.features{
    position: relative;
    top: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.features-card{
    width:290px;
    height: 300px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 5px;
}
.card-icon > img{
    margin-top: -50px;
    background-color: var(--VeryDarkViolet);
    padding: 15px;
    border-radius:10px;
}
.features-card p{
    color: var(--GrayishViolet);
}

/* ------------------------------------------- */

body{
    font-family: poppins;
    font-size: 18px;
    overflow-x: hidden;
}


/* nav-bar section */

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}
.nav-link{
    display: flex;
    gap:25rem;
}


li{
    list-style: none;
}
li a{
    text-decoration: none;
    color:var(--GrayishViolet);
    font-weight: 700;
}

.nav-left{
    display: flex;
    gap: 20px;
}
.nav-right{
    display: flex;
    gap: 20px;
}
a:hover{
    color:var(--VeryDarkBlue)
}


.cta1{
    background-color:var(--Cyan);
    color:var(--white);
    padding: 10px 20px;
    border-radius: 40px;
    transition: all 0.5s ease ;
}
.mobile-menu{
    display: none;
    cursor: pointer;
    font-size: 24px;
    color:var(--GrayishViolet);
}
.mobile-menu:hover{
    color:var(--Cyan)
}


/* onboarding section begin */
.hero-section{
    display: flex;
    justify-content:center;
    margin-top: 5%;
    padding-left: 5%;
   
}
.onboard-content h1{
    font-size: 70px;
    font-weight: 900;
    margin-top: 70px;
}
.content{
    width: 25rem;
}
.illustration img{
    width:45rem;
    margin-right: -10rem;
    
}
.input-section{
    background-color: var(--VeryDarkViolet);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 50px 40px;
    margin-top: -60px;
}
form{
    display: flex;
    
}

/* onboarding section end */
/* second section begin */
.sec1{
    position: relative;
    background: var(--Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta2{
    cursor: pointer;
    background-color:var(--Cyan);
    color:var(--white);
    font-weight: 700;
    border: none;
    border-radius: 25px;
    padding: 15px 45px;
    margin-top: 40px;
}
@media (max-width:600px){
nav{
    margin: 15px 10px;
}
.nav-left{
    display: none;
}
.nav-right{
    display: none;
}
.mobile-menu{
    display: block;
}
.nav-link{
    margin-top: 50px;
    height: 200px;
}
.hero-section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}
.onboard-content{
    text-align: center;
   
}
.onboard-content h1{
    font-family: poppins;
    font-size: 40px;
    font-weight: 1200;
}
.onboard-content p{
    color: var(--GrayishViolet)
}
.illustration img{
    width:30rem;
    margin-right: -10rem;
}
.input-section{
    background-color: var(--VeryDarkViolet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}




